:root {
    --green: #2e524a;
    --light-green: #2ab939;
    --dark: #000000;
    --light: #ffffff;
    --gray: #424242;

    --transition02: all 0.2s linear;
    --transition03: all 0.3s linear;
    --transition05: all 0.5s linear;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}
body, html {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    background-color: #e6ffe2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}
/* CURSOR POINTER */
.cursor {
    cursor: pointer;
}
.dvh-100 {
    height: 100dvh;
}
.green {
    color: var(--green);
}
.dark {
    color: var(--dark);
}
.light {
    color: var(--light);
}
.gray {
    color: var(--gray);
}
.transition02 {
    transition: var(--transition02);
}
.transition03 {
    transition: var(--transition03);
}
.transition05 {
    transition: var(--transition05);
}
/*--------------------------------------------------------------
# Header START
--------------------------------------------------------------*/
header {
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}
@media (min-width: 1200px) {
    .logo {
        width: 280px;
    }
}
.logo img {
    max-height: 26px;
    margin-right: 6px;
}
.logo span {
    font-size: 26px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
}
.header {
    z-index: 997;
    height: 80px;
}
.header .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: var(--green);
}
.header .search-bar {
    min-width: 360px;
    padding: 0 20px;
}
@media (max-width: 1199px) {
    .header .search-bar {
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        padding: 20px;
        box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
        background: white;
        z-index: 9999;
        transition: 0.3s;
        visibility: hidden;
        opacity: 0;
    }
    .header .search-bar-show {
        top: 60px;
        visibility: visible;
        opacity: 1;
    }
}
.header .search-form {
    width: 100%;
}
.header .search-form input {
    border: 0;
    font-size: 14px;
    color: #012970;
    border: 1px solid rgba(1, 41, 112, 0.2);
    padding: 7px 38px 7px 8px;
    border-radius: 3px;
    transition: 0.3s;
    width: 100%;
}
.header .search-form input:focus,
.header .search-form input:hover {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
    border: 1px solid rgba(1, 41, 112, 0.3);
}
.header .search-form button {
    border: 0;
    padding: 0;
    margin-left: -30px;
    background: none;
}
.header .search-form button i {
    color: var(--green);
}
/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav .nav-profile img {
    max-height: 36px;
}
.message-item img {
    height: 2.5rem;
}
/*--------------------------------------------------------------
# Header END
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    width: 18.75rem;
    z-index: 996;
    transition: var(--transition03);
    padding: 1.25rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--green) transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: var(--light);
}
.move-sidebar {
    left: -18.75rem;
}
.sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}
.sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
}
.sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebar-nav .nav-item {
    margin-bottom: 5px;
}
.sidebar-nav .nav-heading {
    font-size: 11px;
    text-transform: uppercase;
    color: #899bbd;
    font-weight: 600;
    margin: 10px 0 5px 15px;
}
.sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #2ab939;
    transition: 0.3;
    background: #f6f9ff;
    padding: 10px 15px;
    border-radius: 4px;
}
.sidebar-nav .nav-link i {
    font-size: 16px;
    margin-right: 10px;
    color: #2ab939;
}
.sidebar-nav .nav-link.collapsed {
    color: #012970;
    background: #fff;
}
.sidebar-nav .nav-link.collapsed i {
    color: #899bbd;
}
.sidebar-nav .nav-link:hover {
    color: #2ab939;
    background: #f6f9ff;
}
.sidebar-nav .nav-link:hover i {
    color: #2ab939;
}
.sidebar-nav .nav-link .bi-chevron-down {
    margin-right: 0;
    transition: transform 0.2s ease-in-out;
}
.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
}
.sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
}
.sidebar .nav-content li {
    transition: var(--transition02);
}
.sidebar .nav-content li:hover {
    transform: translateX(7px);
}
.sidebar-nav .nav-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #012970;
    transition: 0.3;
    padding: 10px 0 10px 40px;
    transition: 0.3s;
}
.sidebar-nav .nav-content a i {
    font-size: 6px;
    margin-right: 8px;
    line-height: 0;
    border-radius: 50%;
}
.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
    color: #2ab939;
}
/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
.main {
    margin-top: 80px;
    margin-left: 18.75rem;
    padding: 30 px 0 0 0;
    transition: var(--transition03);
}
.move-main {
    margin-left: 0;
}
.section {
    padding: 60px 0 0 0;
}
.main-img {
    height: 500px;
}
.floatmango {
    height: 12.5rem;
    width: 12.5rem;
    right: 0%;
    bottom: 0%;
    filter: brightness(0.8);
    z-index: 0;
}
/*--------------------------------------------------------------
# Main END
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    margin-top: 80px;
    margin-left: 18.75rem;
    transition: var(--transition03);
    /* background-color: #fae6c2; */
}
.move-footer {
    margin-left: 0;
}
/*--------------------------------------------------------------
# Footer END
--------------------------------------------------------------*/